@import '../../scss/globals/mixins.scss';

.cancel {
    display: none;
}

.open .cancel {
    display: block;
}

.open .alert {
    display: none;
}

svg {
    width: 1em;
    cursor: pointer;
}

.tooltip-container {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.notify-container {
    border-radius: var(--border-radius);
    position: absolute;
    bottom: 125%;
    z-index: 9;
    width: auto;
    background: var(--color-primary);
    color: var(--color-neutral-10);
    padding: var(--padding);
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
} 

.notify-container * {
    margin: 0;
}

.open .notify-container {
    transform: scale(1);
} 