@import './mixins.scss';

$font-size-base: 1rem;
$font-size-sm: 0.875rem;

$font-size-h1: 2.25rem;
$font-size-h2: 2rem;
$font-size-h3: $font-size-base;
$font-size-ingress: 1.5rem;

$line-height-base: 1.5;
$baseline: $line-height-base * 1rem;

html {
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: “liga” on;
  font-size: $font-size-base;
  letter-spacing: -0.01rem;

  @include sm {
    font-size: 1.375rem;
    letter-spacing: 0.02em;
  }

  @include md {
    font-size: 1.25rem;
    letter-spacing: 0.01em;
  }

  @include lg {
    font-size: 1.125rem;
    letter-spacing: 0.005em;
  }

  @include xl {
    letter-spacing: 0;
  }
}

body {
  line-height: $line-height-base;
}

h1 {
  font-size: calc($font-size-h1 / 1.25);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 0;
  padding-bottom: 2rem;

  @include sm {
    font-size: $font-size-h1;
  }

  @include md {
    font-size: calc($font-size-h1 * 1.25);
  }

  @include lg {
    font-size: calc($font-size-h1 * 1.5);
    line-height: 1.2;
  }
}

h2 {
  font-size: $font-size-h3;
  line-height: 1.375;
  margin: $baseline 0 0.65rem 0;

  @include sm {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: $font-size-h2;
  line-height: 1.25;
  margin: $baseline 0 $baseline 0;
}

h4 {
  font-size: $font-size-base;
  margin: $baseline 0 0;
  font-weight: normal;
}

p {
  margin: 0 0 $baseline;
  -ms-hyphenate-limit-lines: 1;
  -webkit-hyphenate-limit-lines: 1;
  hyphenate-limit-lines: 1;

  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;

  hyphens: auto;
}

a {
  text-decoration: none;
}

//medium style links
p a {
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    currentcolor 50%
  );
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 0.95em;
}

aside,
figcaption,
footer {
  font-size: $font-size-sm;
}

figcaption p {
  max-width: 30em;
}

h1,
h2 {
  max-width: 9em;
}

.u-emphasis {
  font-weight: bold;
}
